.bgPjs {
   background-color: transparent;
    width: 100vw;
    height: 100%;
    color: rgb(183, 162, 4);
    text-align: center;
    align-items: center;
}
.containerPjs {
    width: 84.375vw;
    height: 100%;
    margin-left: 8vw;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3vw;
  padding: 8rem;
  height:100%;

}
.card2{
    background: radial-gradient(rgb(58, 1, 1), rgb(80, 0, 0), rgb(163, 2, 2) );
    color: rgb(246, 236, 160);
    font-weight: 700;
    font-size: 30px;
    width: 50%;
    height: auto;
    align-items: center;
    border: 25px solid #B88846;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
}
.foto{
    width: 50vw;
    height: auto;
    align-items: center;
}



@media (max-width: 768px){
    .bg {
        background-color: white;
        width: 100vw;
        height: 100%;
    }
    
    .containerPjs {
        width: 100vw;
        height: 100%;
        grid-auto-columns: 50vw;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: auto auto auto auto;
        grid-column: span 2;
        
        margin-left: 0;
    }
   
    .card2{
        width: 70vw;
    }
    
    .foto{
        width: 60vw;
    }
    
}

@media (max-width: 480px){
    .bg {
        background-color: white;
        width: 100vw;
        height: fit-content;
        font-size: medium;
    }
    .containerPjs {
        width: 100vw;
        height: fit-content;
        align-content: flex-start;
        justify-items: flex-start;
        display: flex;
        flex-direction: column;
        font-size: medium;
       

    }
    .card2{
        width: 80vw;
        align-items: center;
        font-size: medium;
    }
    .foto{
        margin: auto;
    }
}