@tailwind base;
@tailwind components;
@tailwind utilities;

.App{
    background: rgb(231,144,148);
background: radial-gradient(ellipse,white, rgb(208, 132, 136) 4%, rgba(167,6,6,1) 33%, rgba(57,2,10,1) 72%);
 font-family: 'Old Standard TT', serif;

}