@tailwind base;
@tailwind components;
@tailwind utilities;

.App{
    background: hsla(350, 73%, 44%, 1);

    background: radial-gradient(circle, hsla(350, 73%, 44%, 1) 0%, hsla(274, 65%, 12%, 1) 100%);
    
    background: -moz-radial-gradient(circle, hsla(350, 73%, 44%, 1) 0%, hsla(274, 65%, 12%, 1) 100%);
    
    background: -webkit-radial-gradient(circle, hsla(350, 73%, 44%, 1) 0%, hsla(274, 65%, 12%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#C11E38", endColorstr="#220B34", GradientType=1 );
    
    font-family: 'Old Standard TT', serif;

}